* {
  box-sizing: border-box;	
}

body {
  margin: 0;
  font-family: Verdana, Helvetica, sans-serif;
  color: White;
  background-color: #1a1a1a;
}

img {
  width: 100%;
  height: auto;
}

/* Flexbox */

.flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 50px;
}

.flex-item-left, .flex-item-mid, .flex-item-right {
  display: flex;
  align-items: flex-start;
}

#album-cover {
  max-width: 400px;
  object-fit: contain;
  box-shadow: 5px 5px 10px #000;
}

#album-info {
  max-width: 600px;
  padding: 50px;
}

.card {
  margin: 0 20px;
  max-width: 300px;
  background-color: #333;
  box-shadow: 5px 5px 10px #000;
}

#card-info {
  padding: 10px 40px 40px;
}

/* Responsive */

@media only screen and (max-width: 640px) {
  .flex {
    flex-direction: column;
	padding: 0;
  }
  
  #album-cover, #album-info {
    max-width: 100%;
  }

  .card {
	margin: 50px auto;
  }
}

