* {
  box-sizing: border-box;	
}

body {
  margin: 0;
  font-family: Mulish, Helvetica, sans-serif;
  color: #1a1a1a;
  background-color: #1a1a1a;
}

img {
  width: 100%;
  height: auto;
}

#hero {
  background-color: #ddd;
  height: 80%;
  width: 100%;
  display: block;
  position: absolute;
  z-index: -1;
}

h1 {
  font-family: Merriweather, Georgia, serif;
  font-size: 60px;
}

h2 {
  font-family: Merriweather, Georgia, serif;
  margin-top: 0;
}

iframe {
  margin: 20px 0;
}

/* Navigation */

.overlay {
  height: 0;
  width: 100%;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: rgb(0,0,0); /* Black fallback color */
  background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
  overflow: hidden; /* Disable scroll */
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px; /* avoid conflict with close button on smaller screens */
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-family: Merriweather;
  font-weight: 900;
  font-size: 36px;
  color: #888;
  display: block;
  transition: 0.3s; /* hover and font size transition */
}

.menu-button {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 30px;
  text-decoration: none;
  font-size: 36px;
  color: #000;
  display: block;
  transition: 0.3s;
  background-color: rgb(0,0,0); /* Black fallback color */
  background-color: rgba(0,0,0,0); /* Black w/opacity */
  padding: 15px 20px;
  border-radius: 50%;
  border-style: none;
  cursor: pointer;
}

.overlay a:hover, .overlay a:focus, #overlay-button:hover {
  color: #fff;
}

#overlay-button {
  color: rgba(255,255,255,0.5);
}

/* Flexbox */

.flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 50px;
}

.flex-item-left, .flex-item-mid, .flex-item-right {
  display: flex;
  align-items: flex-start;
}

#introduction {
  max-width: 600px;
  padding: 0 50px;
  text-align: center;
}

#album-cover {
  max-width: 400px;
  object-fit: contain;
  z-index: -1;
  -webkit-box-reflect: below 0px linear-gradient(to bottom, transparent, transparent, transparent, rgba(0,0,0,0.4));
}

#album-info {
  max-width: 600px;
  padding: 50px;
  padding-bottom: 0;
}

.card {
  margin: 0 20px;
  max-width: 300px;
  height: 100%;
  background-color: #222;
  box-shadow: 5px 5px 10px #000;
  color: #fff;
}

#card-info {
  padding: 10px 30px 40px;
}

.button-primary {
  background-color: #ddd;
  border: none;
  border-radius: 5px;
  color: #1a1a1a;
  padding: 10px 20px;
  margin: 20px 20px 0;
  font: 900 14px Mulish;
  text-align: center;
  text-decoration: none;
  display: block;
  cursor: pointer;
  transition: 0.3s;
}

.button-primary:hover {
  background-color: #fff;
}

.button-introduction {
  background-color: #ccc;
  border: none;
  border-radius: 10px;
  color: #1a1a1a;
  padding: 20px;
  margin: 50px 100px;
  font: 700 30px Merriweather;
  text-align: center;
  text-decoration: none;
  display: block;
  cursor: pointer;
  transition: 0.3s;
}

.button-introduction:hover {
  background-color: #1a1a1a;
  border: none;
  color: #fff;
}

.footer {
  background-color: #222;
  color: #555;
  padding: 30px;
  text-align: right;
}


/* Responsive */

@media only screen and (max-width: 640px) {
  body {
	color: #fff;
	padding-top: 80px;
  }
  
  #hero {
	height: 0;
  }
  
  .menu-button {
    background-color: rgba(0,0,0,0.5);
	color: rgba(255,255,255,0.5);
  }
  
  .menu-button:hover {
	color: #fff;
  }
  
  .flex {
    flex-direction: column;
	padding: 0;
  }
  
  #album-cover, #album-info {
    max-width: 100%;
  }

  .card {
	margin: 50px auto;
  }
}

